log
tmp
nodemon-ignore
db/development.sqlite3 db/migrate db/schema.rb db/seeds.rb db/test.sqlite3
db/test.sqlite3
Gemfile.lock
db/development.sqlite3
Gemfile.lock
public/stylesheets
.idea
config/app_config.yml
