.ui-page { display: none; } 
.ui-page-active { display: block; } 
.ui-loader { 
    display: none;
    top: 300px !important;
} 

.ui-block-b {
    text-align: right;
}
//.ui-btn-inner { display: none} 
