@import "fancy-buttons";

.ui-page { display: none; } 
.ui-page-active { display: block; } 
.ui-loader { 
    display: none;
    top: 300px !important;
} 
a.ui-btn span {
    color: #000;
}
.ui-block-a a  {
    &:hover { background-color: transparent !important; }  
}
.jqm-center { text-align: center; }
.jqm-right { text-align: right; }
.jqm-footer { @include prepend-top; }
label.ui-input-text { font-size: 20px !important; }
.ui-controlgroup-label { font-size: 20px !important; }

