@import "fancy-buttons";

.ui-page { display: none; } 
.ui-page-active { display: block; } 
.ui-loader { 
    display: none;
    top: 300px !important;
} 

.jqm-center {
    text-align: center;
}
.ui-block-b {
    text-align: right;
}
.jqm-footer {
    @include prepend-top;
}
