@import "mixins"; 



#main {
    font-size: 1.2em;
    color: darken($text, 75%);
    background-color: rgba(250,250,250,0.5);
    @include container;
    @include box-shadow(#000, 3px, 3px, 20px);
    @include border-radius(20px);


    #title, #content { 
        @include prepend-top;
        @include append(1);
        @include prepend(1);
        @include column(22);  
    }
    #title { 
    }
    #content {
        @include append-bottom;
        @include showgrid;
        #top { 
            @include column(22); 
            @include append-bottom;
        } 
        #left {
            @include column(12); 
        }
        #right {
            @include prepend(2);
            @include column(8,true); 
            #details {
                @include append-bottom;
            }
        }
    }

    a { @include navi-link; }
}
