///@mixin border($color: #d54097) {
///    border: 1px dashed $color;
///}

@mixin link {
    color: darken($text, 20%);
    text-decoration: none;
    &:hover { 
        color: $text; 
        background-color: darken($text, 75%);
    }
}

