
#showcase {
    height: 550px;
    width: 550px;
    margin: 100px;
    img {

        text-align: center;
        background-color: #000;
        padding: 25px;
        @include border-radius(25px);
        @include box-shadow;
    }
}

/* give each slide the same dimensions */
#slideshow div { width: 300px; height: 300px;  }
 
/* make sure each slide image is centered */
#slideshow div img { margin: auto; display: block }

