$height: 240px;
#top { 
    @include column(22); 
    @include append-bottom;
} 
#apps {
    @include prepend(1);
    @include column(20);
    @include append-bottom;

    #feature_list {
        width: 750px;
        height: $height;
        overflow: hidden;
        position: relative;
        border: 1px solid black;
        @include box-shadow;
        ul {
			position: absolute;
			top: 0;
			list-style: none;	
			padding: 0;
			margin: 0;
        }
        ul#tabs {
			left: 0;
			z-index: 2;
            width: 309px;

            img {
                padding-left: 20px;
                padding-top: 10px;
            }

            a.current {
                background:  url('/images/showcase/box-button-hover.png');
            }
            a { 
                display: block;
                padding: 10px;
                height: 60px;
                outline: none;
                &:hover { 
                    background-color: transparent !important;
                }
            }
        }
        ul#output {
            right: 0;
            width: 463px;
            height: $height;

            li {
                position: absolute;
                width: 463px;
                height: $height;
                a {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    padding: 8px 12px;
                    text-decoration: none;
                    font-size: 11px;
                    color: #FFF;
                    background: #000;
                    &:hover {
                        background: #D33431;
                    }
                    @include border-radius;
                }
            }
            img { 
                width: 463px;
                height: $height;
            } 
        }
    }
} 
