@import "compass/reset";

$text: #eee;
$base-font-size: 20px;
$base-line-height: 28px;
html {
    @include establish-baseline;
    p { @include padding-trailer; } 
    h1 { @include adjust-font-size-to(30px); }
    h2 { @include adjust-font-size-to(25px); }

    #header { 
        #navi { 
            // line height plays into this as well
            @include adjust-font-size-to(26px,2.3); 
        }
    }
}


