%h1 Admin#index
%p Find me in app/views/admin/index.html.haml
%ul
  %li= link_to 'XMPP Service Logs', :action => :log_file, :file => 'xmpp_service'
  %li= link_to 'Socket Service Logs', :action => :log_file, :file => 'socket_service'
  %li= link_to 'View messages', :action => :view_messages
  %li= link_to 'Send message', :action => :send_message_form
