- title 'Download the EpicService'

%p
  You have to download the Android application from the Android Market (search for epic service mobilesynergies),
  or simply install the application by scanning this qr code:

= image_tag 'qrcode-market.png'

= link_to 'Create User', :new_user, 'data-role' => 'button' 


