- title 'Download the EpicService'

%p
  You have to download the Android application from the Android Market (search for EpicService),
  or simply install the application by scanning this qr code:

= image_tag 'qr-alpha.jpg'

.ui-grid-a
  .ui-block-a
    Simply follow the instructions

  .ui-block-b
    include an image here to show app

= link_to 'Create User', :new_user, 'data-role' => 'button' 


