- title 'Appstore' 

%p
  You have to download your app from the appstore

.ui-grid-a
  .ui-block-a
    Simply follow the intructions

  .ui-block-b
    include an image here to show app

= link_to 'Create User', :new_user, 'data-role' => 'button' 


