- title 'Options'

%style
  :sass
    label
      width: 50px

%div{'data-role' => 'header', 'data-position' => 'inline'}
  %h2 Options

%div{'data-role' => 'content'}
  %p 

  %div{'data-role' => 'fieldcontain'}
    = label_tag 'jqm', 'jQuery Mobile' 
    = select_tag 'jqm', options_for_select(%w[off on], jqm_enabled? ? 'on' : 'off' ), 'data-role' => 'slider'

  %div{'data-role' => 'fieldcontain'}
    = label_tag 'xmpp', 'xmpp'
    = select_tag 'xmpp', options_for_select(%w[off on], xmpp_enabled? ? 'on' : 'off' ), 'data-role' => 'slider'

  :javascript
    (function($) {
      $(function() {
        alert('we need to get event of dialog close');
        var url = window.location.href;
        url = url.replace(/#.*/,'');
        url = url.replace(/\?.*/,'');

        $("body").delegate('[data-rel="back"', 'click', function() {
          var query = [];
          $('select').each(function() {
            query.push(this.id + "=" + ($(this).val() == "on" ? "1" : "0"));
          });
          console.log(query);
          });
      });
    })(jQuery);



