:javascript 
  $(function() {
    if(!$.nmk) { return; }
    var url = "#{APP_CONFIG[:bosh]}";
    var domain = "#{APP_CONFIG[:domain]}";

    $("form").submit(function(e) {
      var creds = {
        jid: $("#user_name").val() + "@" + domain + "/strophe",
        pw: $("#user_password").val(),
        url: url
      };
      $.nmk.log(creds);
      $.nmk.session.setUser(creds);
    });
  });
