%div{'data-role' => 'header', 'data-id' => 'header','data-nobackbtn' => 'true', 'data-position' => 'fixed'}
  %h1= yield(:title)

  - if user_signed_in?
    .ui-btn-left
      = link_to 'Sign Out', :destroy_user_session, :id => 'sign_out', :rel => 'external'
    .ui-btn-right
      = link_to 'Options', options_user_path(current_user), 'data-rel' => 'dialog', 'data-icon' => 'gears', 'data-transition' => 'pop'

    %div{'data-role' => "navbar"}
      %ul
        %li 
          = link_to 'Ring my Phone', :controller => "mobileapps", :action => "ringit"
        %li 
          %a{'href' => "b.html"} App Two
        %li 
          %a{'href' => "c.html"} App Three

