:javascript
  var creds = {
    jid: "#{current_user.name}@#{APP_CONFIG[:domain]}",
    pw: "#{current_user.password}",
    url: "#{APP_CONFIG[:bosh]}"
  }

  console.log('js in page');
  $.nmk.session.setUser(creds);

