%div
  %table
    %tr
      %td Status:
      %td.xmpp-status

  %table
    %tr
      %td Devices:
      %td
        #peerlistcontainer{"data-role" => "fieldcontain"}
        %fieldset.xmpp-peer-list{"data-role" => "controlgroup"}
