= link_to 'Logout', :log_out, :rel => 'external'
= link_to 'Behind the scenes', :dialog, 'data-rel' => 'dialog'

%fieldset
  %label Status
  %div.xmpp-status


%fieldset
  %label Devices
  %div.xmpp-peer-list


