@import "compass/reset";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "blueprint/grid";
@import "blueprint/debug";

$text: #a2a2a2;
$pink: #d54097;
$blueprint-border-color: red;


body {
    background: url('../images/wood2.jpg');
}
.center { text-align: center; } 

//@import "partials/mixins";
@import "partials/vertical-rhythm";
@import "partials/jqm";
@import "partials/header";
@import "partials/main";
@import "partials/mobileapp";
@import "partials/footer";
@import "partials/showcase";


