
@import "compass/css3";
@import "blueprint/grid";
@import "blueprint/debug";
@import "partials/mixins";
@import "compass/typography/vertical_rhythm";
@import "partials/vertical-rhythm";


html  {
    text-align: justify;
}
body {
    color: $text; 
//    font-family: Trebuchet MS;
    font-family: Helvetica, Arial;
    background: url('../images/wood2.jpg');
}


@import "partials/header";
@import "partials/main";

@import "partials/footer";
@import "partials/showcase";


