<h1>Todo</h1>
<ul>
  <li>global configuration (domain, notify admin ..)</li>
  <li>agree on jids involved (admin,epic)</li>
  <li>create form for pasting the token</li>
  <li>substitute token in script</li>
</ul>
<a href="javascript:<%= @contents %>">Bookmarklet</a>
