<h1>Registered ok</h1>
<p>
  Drag bookmarklet to your toolbar, it allows you to trigger your phone.
</p>
<a href="javascript:<%= @contents %>">Bookmarklet</a>

<p>
  Now go and try some <a href="http://google.com">google</a>
</p>

