- title "Showcase"

Welcome to the epic adventure. See some lolcats for now. What's the _correct_ way to center a box inside another box? Text-align works for the railscasts but not for the image we are using.

#showcase
  - (1..6).each do |index| 
    %div
      = image_tag "lolcats/lol#{index}.jpg", :size => "500x500"

= javascript_include_tag "jquery.cycle.min.js"

:javascript
  jQuery(function() {
    var opts = {
      fx: 'fade',
      pause: 1,
      next: '#showcase',
    };
    jQuery('#showcase').cycle(opts);
  });
