- title "showcase" 
= stylesheet_link_tag "/jquery.featureList-1.0.0/style.css"
= javascript_include_tag "/jquery.featureList-1.0.0/jquery.featureList-1.0.0.js"


#top
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

#apps
  #feature_list
    %ul#tabs
      %li
        %a{:href => "javascript:;"}
          %img{:src => "/jquery.featureList-1.0.0/services.png"}/
          %h3 Ring It 
          %span Make your phone ring
      %li
        %a{:href => "javascript:;"}
          %img{:src => "/jquery.featureList-1.0.0/programming.png"}/
          %h3 Map It
          %span Put your phone on the map
      %li
        %a{:href => "javascript:;"}
          %img{:src => "/jquery.featureList-1.0.0/applications.png"}/
          %h3 Browser history
          %span View what you have visited
    %ul#output
      %li
        %img{:src => "/jquery.featureList-1.0.0/sample1.jpg"}/
        %a{:href => "#"} See project details
      %li
        %img{:src => "/jquery.featureList-1.0.0/sample2.jpg"}/
        %a{:href => "#"} See project details
      %li
        %img{:src => "/jquery.featureList-1.0.0/sample3.jpg"}/
        %a{:href => "#"} See project details


:javascript 
  $(function() {
    $('#tabs li a').featureList({
      output:'#output li',
      start_item:1
    });
  });
