- title "showcase" 

#top
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

#left
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

#right
  #details
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
  #button
    here goes my button

/ #showcase
/  - (1..6).each do |index| 
/    %div
/      = image_tag "lolcats/lol#{index}.jpg", :size => "500x500"
/
/= javascript_include_tag "jquery.cycle.min.js"
/
/:javascript
/  jQuery(function() {
/    var opts = {
/      fx: 'fade',
/      pause: 1,
/      next: '#showcase',
/    };
/    jQuery('#showcase').cycle(opts);
/  });
