:maruku
  JQuery mobile
  ==================
  - sign_in with invalid credentials trigger a 401, we get standard jqm error, better would be customization saying that the username / pw combination is invalid

  Things to do
  ==================
  - jquery.xmpp.js needs xmpp url (hardcoded atm)
  - remove app_config.yml, only thing we needs is hostname
  - dont include todo's and test things in production routes
  - come up with colors, logo and layout
  - define content and sections for page
  - ensure the sign up process is working correctly
  - upgrade to latest jquery mobile
  - jquery.xmpp use strophejs-plugins for disco, peers and commands

