%h1 Testing docs extension

%p Tests the docs extension, which enables the plugin to update documents outside of it's element. This is required for webos (dashboards, multi stage applications).

= javascript_include_tag 'xmpp/jquery.xmpp.js'
= javascript_include_tag 'xmpp/jquery.xmpp.docs.js'
= javascript_include_tag 'xmpp/jquery.xmpp.docs.test.js'
