%h1 Testing xmpp module

%p only tests a subset of what is supported by the base module. does not test anything with a real connection but only things around it.

= javascript_include_tag 'xmpp/jquery.xmpp.js'
= javascript_include_tag 'xmpp/jquery.xmpp.test.js'

