%h1 Testing webos extensions

%p Extensions with stubbed out webos objects.
%ul
  %li 
    %strike open page on phone
  %li make phone ring
  %li get geoposition of phone and update it on map (when i loose it again)
  %li push browser tabs from phone to browser


= javascript_include_tag 'xmpp/jquery.xmpp.js'
= javascript_include_tag 'xmpp/jquery.xmpp.webos.js'
= javascript_include_tag 'xmpp/jquery.xmpp.webos.test.js'
