- title "artifacts" 

:maruku

  Artifacts
  ==========

  Descript the artifacts produced and any contributions made to open source projects.

  ## Ruby based xmpp client
  ---------------

  A simple xmpp client on top of [Blather](http://#) that supports service discovery and ad-hoc commands. Sample commands have been implemented that xmacro to reply keystrokes of a laptop's function keys on ubuntu. Those keys have been exposed as commands can be called remotely. This allows to control the volumn, start, stop next and previous operations of any media application that is running. 

  This project an be taken as a blueprint to implement more custom services on top.

  ## webOS XMPP Client (Enyo)
  ----------------  

  A javascript application on top of [Strophe](http://#) and HP's new enyo framework. It implements discovery and ad-hoc commands together with webOS specifc commands to open urls in a browser. Together with a service and a simple patch to the browser it allows it can retrieve the currently active browser windows to send and make them available to other nodes on the network.


  ## Chrome Browser XMPP Extension  (Enyo)
  ----------------  

  This browser extension shares large parts of it's code base with the Webos XMPP Client mentioned above. It implements the chrome specific functionality to get and set the active browser tabs and works together with the webOS client and service to implement the sharing browser context use case. 

  ## Strophejs plugins
  ----------------

  These are a set of plugins to the Strophe javascript library that implement service discovery and remote commands. 

