- title "Epic Architecture"

%h1 TODO:
%ol
  %li - Finalize text (Peter)
  %li - Add architecture overview images (Peter)

:maruku
  The EPIC Architecture consists of the EPIC service that runs on an internet connected device, and an XMPP server that handles the message exchange of multiple connected devices.

  ##Epic Service
  The EPIC Service allows other applications to connect to it. It abstracts from the complexities involved in the underlying message oriented middle-ware (i.e., XMPP) and the operating system.
  With the EPIC Architecture messages are exchanged between application nodes that are part of the same application.
  The application decides which type of messages are sent between different application nodes.
  After initialization of the application (i.e., binding of the application to the service and initialization of all application nodes) messages are sent between the different peers.

  ##Message Exchange



