- title "intro"
:maruku
  What
  =========
  Connecting internet enabled devices for close-to-realtime interaction. We focus on mobile devices (such as android and webOS smartphones) and connections with web-applications running in standard browsers. 

  Have a look at the #{link_to "Use Cases", :about_use_cases} we could think of. Do you have anything to #{link_to "Add", '/add'} 

  Why
  =========
  People use an ever inreasing number of devices to connect to the internet (desktop, phone, tv). Rarely are those devices aware of each other's existance or activities. We believe many benifits could be gained from making these devices talk to each other. On our web-page we collect information about the required technologies, showcase potential applications, and write tutorials on how to set up such systems. 

  Although this is an important step towards the internet of things, it is still quite hard to set up a system that supports communication of diverse devices. We believe that the internet of things will be developed by individuals rather than big companies and want to enable people to participate. 

  EVERYTHING ON THIS PAGE IS FREE, OPEN SOURCE, AND LICENCED UNDER CREATIVE COMMONS.

  How
  ==========
  We use a bunch of technologies to connect mobile devices to each other as well as to web-pages. The #{link_to "core technology", :about_technology} is XMPP that enables peer-to-peer communication (using an XMPP server sitting in the middle). 

  Who
  =========
  - Andreas Maierhofer
  - Peter Rautek

