<h1>What?</h1>
Connecting internet enabled devices for close-to-realtime interaction. We focus on mobile devices (such as android and webOS smartphones) and connections with web-applications running in standard browsers.
<h1>Why?</h1>
Although this is an important step towards the internet of things, it is still quite hard to set up a system that supports communication of diverse devices. On our web-page we collect information about the required technologies, showcase potential applications, and write tutorials on how to set up such systems. We believe that the internet of things will be developed by individuals rather than big companies and want to enable people to participate. 
EVERYTHING ON THIS PAGE IS FREE, OPEN SOURCE, AND LICENCED UNDER CREATIVE COMMONS.
<h1>How?</h1>
We use a bunch of technologies to connect mobile devices to each other as well as to web-pages. The core technology is XMPP that enables peer-to-peer communication (using an XMPP server sitting in the middle).
<h1>Who?</h1>
<p>Andreas Maierhofer</p>
<p>Peter Rautek</p>

