- title "use cases"
:maruku

  Sample use Cases
  ================

  The following describes user stories in which we see multiple internet connected devices collaborating to create a better experience for the user.

  ## Moving browser context

  Every morning, Peter enjoys a 25 minute train ride to get work. He spends his time browsing and listening to music on his mobile phone. When he gets to his office, he puts the phone done in his dock and logs into his PC. Now all active tasks (the song he listend two, the website he was reading) is lost. His computer does not know about his recent activities on the phone. 

  We work on application that will transfer the context from his phone to his desktop. This will happen whenever he docks his phone at work, but also when he takes it out again in the evening. 


  ## WAtching Tv and recording a movie
  
  - watch an interesting program
  - phone rings, it's mom (tell tv to record)
  - next morning, watch the rest of the show on the phone on the way to work

