.jqm-footer.center{'data-role' => 'controlgroup', 'data-type' => 'horizontal'}
  = link_to 'logout', :log_out, :rel => 'external', 'data-role' => 'button'
  = link_to 'apps', :apps_home, 'data-role' => 'button'
  = link_to 'qr code', :mobileapps_qrcode, 'data-role' => 'button'
  = link_to 'behind the scenes', :dialog, 'data-rel' => 'dialog', 'data-role' => 'button'

