/.jqm-footer.center{'data-role' => 'controlgroup', 'data-type' => 'horizontal'}
.m-footer
  = link_to 'logout', :log_out, :rel => 'external'
  | 
  = link_to 'apps', :apps_home 
  | 
  = link_to 'qr code', :mobileapps_qrcode 
  |
  = link_to 'behind the scenes', :dialog, 'data-rel' => 'dialog'

