%script#most-recent-tmpl{:type => "text/x-jquery-tmpl"}
  %data{type: 'map'}
    %start{type: 'int'} ${start}
    %size{type: 'int'} ${size}

%script#most-visited-tmpl{:type => "text/x-jquery-tmpl"}
  %data{type: 'map'}
    %order{type: 'string'} visits
    %start{type: 'int'} ${start}
    %size{type: 'int'} ${size}

%script#brhi-entry{:type => "text/x-jquery-tmpl"}
  %li
    %a{href: '${url}', rel: 'external'} ${title}

:javascript 
  $(function() {
    var res = $('.results');
    function parseEntry(node) {
        var entry = $(node);
        return {
          url: entry.find('url').text(),
          title: entry.find('title').text()
        }
    }
    function updateList(data) {
      $.nmk.log(data);
      res.find('li').remove();
      data.find('data').children().each(function() {
        var entry = parseEntry(this);
        $.nmk.log(entry);
        res.append($("#brhi-entry").tmpl(entry));
      });
      res.listview('refresh');
    }

    $('#most-recent').click(function() {
      var data = $( "#most-recent-tmpl" ).tmpl( { start: 0, size: 10 } )
      epic.app('send', 'org.epic.action.ListBrowserHistory', data, updateList);
    });

    $('#most-visited').click(function() {
      var data = $( "#most-visited-tmpl" ).tmpl( { start: 0, size: 10 } )
      epic.app('send', 'org.epic.action.ListBrowserHistory', data, updateList);
    });
  });

%h1.center Retrieve your browser history!

.m-twocol
  .m-left 
    %p Load up the recently-, or most visited urls from your phone's browser.

  .m-right
    = btn_link_to 'most recent', '#', :id => 'most-recent'
    = btn_link_to 'most visited', '#', :id => 'most-visited'

%ul.results{'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'a'}
    


