= javascript_include_tag 'mobileapps/browserhistory.js'
%h1 Have you recently accessed some interesting webpage on your phone?
%p Retrieve browser history!
%input{:id => "browserhistorybutton", :type => "submit", :value => "Retrieve!"}
%ul{:id => "page-list"}



