= javascript_include_tag 'mobileapps/browserhistory.js'
%h1.center Retrieve your browser history!

.m-app-brhi
  .description Load up the urls from your phones browser. some more text blablalba blubb lala:w maybe we even get a linebreak yooowow

  .buttons{'data-role' => 'controlgroup', 'data-type' => 'horizontal'}
    %input{:id => "mostrecentbutton", :type => "submit", :value => "most recent"}
    %input{:id => "mostvisitedbutton", :type => "submit", :value => "most visited"}


  .results
    %ul{:id => "page-list", 'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'a'}



