
:javascript
  $(function() {
    $(".xmpp-console").appendTo("#dialog");
    $(".xmpp-console").show();
  });
  

%div{'data-role' => 'header', 'data-theme' => 'c'}
  %h1 XMPP Log

#dialog{'data-role' => 'content', 'data-theme' => 'c'}

  
