%h1.center Welcome back, #{current_user.name}!

%p Give the sample applications below a try. They demonstrate the basic capability of sending and recieving message between this website and your phone. You can see what's going over the wire by clicking the "Behind the scenes link" at the bottom of the page. 

.m-twocol
  .m-left
    %ul.border
      - [:ri, :mi, :brhi].each do |app|
        %li= app_link(app)

  .m-right
    .m-xmpp-status.border
      %h2 Connection status

      .m-xmpp-status-browser
        %span Browser
        %span.xmpp-status offline

      .m-xmpp-status-phone
        %span Phone
        %span.xmpp-status-phone offline
