
%script#mi-query{:type => "text/x-jquery-tmpl"}
  %data{type: 'map'}
    %start{type: 'int'} ${start}
    %size{type: 'int'} ${size}

%script#mi-entry{:type => "text/x-jquery-tmpl"}
  %li
    %a{href: '${path}'} ${action}

:javascript 
  $(function() {
    function parseEntry(node) {
      var entry = $(node);
      return {
        action: entry.find('action').text(),
        clazz: entry.find('class').text(),
        pkg: entry.find('package').text(),
        path: url + "?epic_action=" + entry.find('action').text()
      }
    }

    function updateList(data) {
      res.find('li').remove();
      $(data).find('data').children().each(function() {
        var entry = parseEntry(this);
        res.append($("#mi-entry").tmpl(entry));
      });
      res.listview('refresh');
    }

    var url = "#{url_for :makeit_execute}", res = $('.results');
    var data = $( "#mi-query" ).tmpl( { start: 0, size: 10 } );

    if(epic.xmpp('state').name === 'CONNECTED') {
      epic.app('send', 'org.epic.action.ListActions', data, updateList);
    } else {
      epic.bind('xmpp.connected', function() {
        setTimeout(function() {
          epic.app('send', 'org.epic.action.ListActions', data, updateList);
        },1000);
      });
    }
  });

%h1.center List of available EPIC actions
%p We are pulling data from your device, to see what epic actions you have installed. This might take a little while.
%ul.results{'data-role' => 'listview', 'data-inset' => 'true', 'data-theme' => 'a'}

