- title 'Ring it'

= javascript_include_tag 'mobileapps/ringit.js'

%p Searching for your device? You can simply make it ring. 
%input{:id => "ringitbutton", :type => "submit", :value => "Ring It!"}

