= javascript_include_tag 'mobileapps/ringit.js'

.ui-grid-a
  %ul.ui-block-a
    %p Searching for your device? You can simply make it ring. 
    %input{:id => "ringitbutton", :type => "submit", :value => "Ring It!"}

  .ui-block-b
    = render :partial => 'block_b'

