= javascript_include_tag 'mobileapps/ringit.js'


%h1.center Make your phone ring!
.m-twocol
  .m-left
    %p Searching for your device? You can simply make it ring. 
    %p can we get a jqm activity indicator onto the button?
  .m-right
    = link_to 'Ring it!', '#', :id => 'ring', 'data-role' => 'button'



