%h1 Ring It!
%p Searching for your device? You can simply make it ring. 
%input{:id => "ringitbutton", :type => "submit", :value => "Ring It!"}

%p testing qrcode generation:
#qrcode

%p testing jqm split list view in a table:
<table width = "400">
<tr>
<td>
<div data-role="content" class="ui-content" role="main">
<ul data-role="listview" data-split-icon="gear" data-split-theme="d" class="ui-listview">
<li class="ui-li-has-thumb ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c" data-theme="c">
<div class="ui-btn-inner ui-li ui-li-has-alt">
<div class="ui-btn-text">
<a href="index.html" class="ui-link-inherit">
<img src="images/album-bb.jpg" class="ui-li-thumb">
<h3 class="ui-li-heading">Broken Bells</h3>
<p class="ui-li-desc">Broken Bells</p>
</a>
</div>
</div>
<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c">
<span class="ui-btn-inner ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow"><span class="ui-btn-inner ui-btn-corner-all ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span class="ui-icon ui-icon-gear ui-icon-shadow">
</span></span></span></span></a></li>
</li>


<li class="ui-li-has-thumb ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c" data-theme="c">
<div class="ui-btn-inner ui-li ui-li-has-alt">
<div class="ui-btn-text">
<a href="index.html" class="ui-link-inherit">
<img src="images/album-bb.jpg" class="ui-li-thumb">
<h3 class="ui-li-heading">Broken Bells</h3>
<p class="ui-li-desc">Broken Bells</p>
</a>
</div>
</div>
<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c">
<span class="ui-btn-inner ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow"><span class="ui-btn-inner ui-btn-corner-all ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span class="ui-icon ui-icon-gear ui-icon-shadow">
</span></span></span></span></a></li>
</li>


<li class="ui-li-has-thumb ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c" data-theme="c">
<div class="ui-btn-inner ui-li ui-li-has-alt">
<div class="ui-btn-text">
<a href="index.html" class="ui-link-inherit">
<img src="images/album-bb.jpg" class="ui-li-thumb">
<h3 class="ui-li-heading">Broken Bells</h3>
<p class="ui-li-desc">Broken Bells</p>
</a>
</div>
</div>
<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c">
<span class="ui-btn-inner ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow"><span class="ui-btn-inner ui-btn-corner-all ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span class="ui-icon ui-icon-gear ui-icon-shadow">
</span></span></span></span></a></li>
</li>


<li class="ui-li-has-thumb ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c" data-theme="c">
<div class="ui-btn-inner ui-li ui-li-has-alt">
<div class="ui-btn-text">
<a href="index.html" class="ui-link-inherit">
<img src="images/album-bb.jpg" class="ui-li-thumb">
<h3 class="ui-li-heading">Broken Bells</h3>
<p class="ui-li-desc">Broken Bells</p>
</a>
</div>
</div>
<a href="lists-split-purchase.html" data-rel="dialog" data-transition="slideup" title="Purchase album" class="ui-li-link-alt ui-btn ui-btn-up-c" data-theme="c">
<span class="ui-btn-inner ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span title="" data-theme="d" class="ui-btn ui-btn-up-d ui-btn-icon-notext ui-btn-corner-all ui-shadow"><span class="ui-btn-inner ui-btn-corner-all ui-li ui-li-has-alt">
<span class="ui-btn-text"></span>
<span class="ui-icon ui-icon-gear ui-icon-shadow">
</span></span></span></span></a></li>
</li>
</ul>
</div>

</td>
</tr>
</table>

